@model act.Models.Act
<section>
		<article>
		<H1>Создание Акта</H1>
		<hr>
		<form asp-action="create" method="post">
			@Html.Partial("_ActForm",Model)
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Сохранить Акт" class="btn btn-default" />
				</div>
			</div>
		</form>
		</article>
</section>
