@model act.Models.Act
<section>
		<article>
		<H1>Редактирование Акта</H1>
		<hr>
		<form asp-action="edit" method="post">
			@Html.Partial("_ActForm.cshtml",Model)
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<a asp-action="index" class="btn btn-default">Назад к списку</a>
					<input type="submit" value="Сохранить изменения" class="btn btn-default">
					<a asp-action="delete" asp-route-id="@Model.Id" class="btn btn-default">Удалить</a>
				</div>
			</div> 
		</form>
		</article>
</section>
